<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/katex.min.css">
  <script defer src="/public/js/katex.min.js"></script>
  <script defer src="/public/js/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  {%- seo -%}
  <link rel="stylesheet" href="/assets/main.css">
  {%- feed_meta -%}

  {%- include analytics.html -%}
  
</head>