.post-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem;
}

.post-date {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.post-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.post-excerpt {
    display: block;
    margin-bottom: 0.8rem;
}

.post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    background-color: #333;
    color: #f0f0f0;
    border-radius: 4px;
    font-size: 0.8rem;
    text-decoration: none;
}

.post-header {
    margin-top: 2rem;
}

h1.post-title {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    margin-top: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-pages {
    padding: 0rem 1rem;
}

.pagination-link {
    color: #8cc2dd;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

